@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(0, #857fce, #000000);
    font-family: 'Poppins', sans-serif;
    color: white;
}

.titulo_formulario{
    font-weight: 400;
}

label{
    height: 30px;
}


.formulario{
    display: flex;
    flex-direction: column;

}

.stars{
	width: 3px;
	height: 3px;
	border-radius: 50%;
	box-shadow: 50px 30px white,
    100px 80px white,
    80px 120px white,
    300px 20px white,
    250px 130px white,
    200px 50px white,
    150px 100px white,
    -160px 110px white,
    -360px 80px white,
    -260px 50px white,
    320px 100px white;
}

.stars{
	animation: anim-stars 10s linear infinite;
}

@keyframes anim-stars {
    from {
        transform: translateY(450px);
    }
    to {
        transform: translateY(-150px);
    }
}

button{
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 5px;
    height: 25px;
    font-weight: 600;
}

button:hover{
    transform: scale(1.1);
    transition: 0.6s ease;
}